<!DOCTYPE html>
<html>
<head th:replace="fragments/head" />
<body>
	<nav th:replace="fragments/nav" />
	<div class="container" style="text-align: center">
		<h1 th:text="#{offer_bougth.message}"></h1>

		<form class="navbar-form" action="/oferta/listCompras"></form>
		<p th:text="#{offer_listC_p.message}"></p>
		<div class="table-responsive">
			<table class="table table-hover" th:fragment="tableOfertas"
				id="tableOfertas">
				<thead>
					<tr>
						<th class="col-md-1">id</th>
						<th th:text="#{offer_list_title.message}"></th>
						<th th:text="#{offer_list_descrp.message}"></th>
						<th th:text="#{offer_list_price.message}"></th>
						<th th:text="#{offer_list_vend.message}"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="oferta : ${ofertaList}">
						<td th:text="${oferta.id}"></td>
						<td th:text="${oferta.titulo}"></td>
						<td th:text="${oferta.descripcion}"></td>
						<td th:text="${oferta.precio}"></td>
						<td th:text="${oferta.user}"></td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>


</body>
</html>